{
  "semi": true,
  "singleQuote": false, 
  "trailingComma": "none",
  "printWidth": 200,
  "tabWidth": 3,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
